/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}





.container {
    width: 100%;
    margin: auto;

}



.signup {

    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: rgb(255, 255, 255);
}

.signup h2 {
    font-size: 1.5rem;
    border: none;
}




.signup  input{

    outline: none;
    border: none;
    background: none;
    color: white;
    width: 100%;
    
}
.signup span {
    font-size: 12px;
    color: rgb(255, 255, 255);
    opacity: 0;
}

::placeholder {
    color: rgb(255, 255, 255, 0.5);
}



.signup select {

    color: white;
    outline: none;
    border: none;
    width: 100%;
   
   
}







.general {

    background: rgba(0, 0, 0, 1);
    height: 600px;
    width: 500px;
    padding: 30px;
    display: grid;
    justify-content: space-between;
    align-content: flex-start;
    grid-template-columns: 45% 45%;
}







.general select {
    background: rgba(0, 0, 0, 1);
   
}

.general > * {
    border-bottom: 1px solid rgb(253, 251, 251);
    padding-bottom: 5px;
    margin-bottom: 30px;
}


#generalTitle {
    grid-column: 1 / span 2;
   
}

#title  {
    grid-column: 1 / span 2;
}

#position {
    grid-column: 1 / span 2;
}

#company {
    grid-column: 1 / span 2;
}




.contact{
    background-color: rgba(3, 12, 146, 1);
    height: 600px;
    width: 500px;
    padding: 30px;
    display: grid;
    justify-content: space-between;
    align-content: flex-start;
    grid-template-columns: 45% 45%;
}

.contact select {
    background-color: rgba(3, 12, 146, 1);
   
}

.contact > * {
    border-bottom: 1px solid rgb(253, 251, 251);
    padding-bottom: 5px;
    margin-bottom: 30px;
}


#contactTitle {
    grid-column: 1 / span 2;
}
#streetN {
    grid-column: 1 / span 2;
}

#addInf {
    grid-column: 1 / span 2;
}

#country {
    grid-column: 1 / span 2;
}

#email {
    grid-column: 1 / span 2;
}

#agree {
    grid-column: 1 / span 2;
    border: none;
}
#agree input {
    width: auto;
}
#agree a {
    color: rgba(163, 231, 187, 1);
}

#button {
    grid-column: 1 / span 2;
    text-align: end;
    border: none;
}
#button button {

    padding: 5px;
    border: none;
    background-color: rgba(8, 0, 0, 1);
    color: rgb(255, 255, 255);
    border-radius: 20%;
    cursor: pointer;
}







@media (min-width: 1000px){

    .container {
        max-width: 1200px;
        
    }

    .signup {
        flex-direction: row;
    }

  


}